* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: var(--lightText);
}

body {
    background-color: black;
}

:root {
    --padding: 1rem;
    --lightText: white;
    --blue: #4fc0e8;
}

/*-webkit- safari, chrome, opera*/
/*-moz- firefox*/
/*-ms- internet explorer*/
/*-0- opera*/


/*Navigation*/
nav {
    display: flex;
    justify-content: flex-end;
    padding: var(--padding);
    height: 10vh;
}

ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    position: relative;
    padding: 0 5px;
    transition: 0.5s;
}

a:after {
    content: ""; 
    position: absolute;
    background-color: var(--blue);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.6s;
}

a:hover:after {
    width: 100%;
}

.nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: column;
    gap: 0.5rem;
    width: 3rem;
    display: none;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #4fc0e8;
    border-radius: 10px;
    z-index: 1;
}

.nav-background .active{
    opacity: 100%;
}

@media (max-width: 600px) {
    .nav-toggle {
        display: flex;
    }

    .nav-large {
        display: none;
    }

    .nav-large.active {
        margin: auto;
        margin-top: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        z-index: 20;
        height: 100%;
        width: 100%;
        font-size: 1.5rem;
    }

    .nav-overlay {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; 
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
        z-index: 1;
    }
    
    .nav-overlay.active {
        opacity: 1;
        transition: 0.5s;
    }

    a:hover {
        color: var(--blue);
    }
    a:hover:after {
        width: 0;
    }
}

/*Hero Text*/
.hero {
    text-align: center;
    height: 90vh;
    padding-top: 30vh;
}

.blue-text {
    color: var(--blue);
}

.animate-fade {
    opacity: 0;
    transform: translateY(-80px);
    transition: 1s ease-in;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/*Header background animation*/
.animation-container {
    border: 3px solid red;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.particle {
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    border-radius: 50%;
    position: relative; 
    z-index: 2;
    opacity: 0;
    transition: opacity 2s ease-in; 
}

.particle-fade-in {
    opacity: 0.7;
}
